Package: nginx-site-conf
Version: 0.1-1
Architecture: all
Maintainer: Pascha <otvertov@yandex.ru>
Installed-Size: 20
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
